$primary: #181818;
$grey: #7D7D7D;
$black_grey: #5B5B5B;
$blck: #000000;
$gold: #E2A03D;
$white: #fff;
body{
    overflow-x: hidden;
}
.diam{
    overflow: hidden;
}
@keyframes left{
    0%{margin-left: -400px}
    100%{margin-left: 0px;}
}
@keyframes leftprd{
    0%{margin-left: -400px}
    100%{margin-left: 30px;}
}
@keyframes right{
    0%{margin-right: -400px}
    100%{margin-right: 0px;}
}
@keyframes top{
    0%{margin-top: -400px}
    100%{margin-top: 0px;}
}
@keyframes bottom{
    0%{margin-bottom: -400px}
    100%{margin-bottom: 0px;}
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background-color: $white;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: $primary; 
}
@mixin flexbox($direction:row){
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
}
//login
.login{
    background-image: url(assets/img/image4.png);
    background-size: cover;
}
.card{
    margin: 100px 400px;
    padding: 50px;
    color: $white;
    border-radius: 10px;
    a{
        border-radius: 10px;
        padding: 5px 20px;
        background-color: $white;
    }
    .logo{
        justify-content: flex-start;
    }
    h2{
        display: inline-block;
        font-weight: normal;
    }
    .r{
        display: flex;
        margin-bottom: 3vh;
    }
    .log{
        @include flexbox(column)
    }
    input[type='email'],input[type='password']{
        border-radius: 10px;
        padding: 2px;
    }
    .inputgrp{
        margin-bottom: 20px;
        @include flexbox(column);
    }
    input[type="submit"]{
        margin: 0;
        width: 141px;
        padding: 5px;
        background-color: $gold;
        color: $white;
        border-radius: 10px;
    }
    input::placeholder{
        background-color: $white;
        color: $grey;
    }
    .btn{
        display: flex;
        justify-content: flex-end;
    }
}
// admin side
.sidebar{
    position: sticky;
    z-index: 10000;
    top: 0;
    background-color: $primary;
    width: min-content;
    height: 150vh;
    bottom: 0;
    left: 0;
    box-shadow: -20px 20px 50px rgba($color: #000000, $alpha: 0.5);
    @include flexbox(column);
    justify-content: flex-start;
    .logo{
        margin-bottom: 20px;
        padding: 10px;
        a{
            color: $white;
        }
    }
    .menu a.activate{
        border-left: $gold solid 3px;
    }
    .menu{
        @include flexbox(column);
        a{
            padding: 10px 5px 10px 25px;
            color: $white;
        }
    }
}
.container{
    display: flex;
    width: 100%;
}
.for{
    position: relative;
    background-color: $grey;
    padding: 50px;
    width: 100%;
    a{
        float: left;
        color: $white;
        border: 1px solid $white;
        padding: 0.5vh 1vh;
        font-size: 12px;
        margin: 30px 3px;
        max-width: 13vh;
    }
    .gridco{
        @include flexbox();
    }
    section .scroll{
        @include flexbox(column);
        a:hover{
            background-color: $white;
            color: $primary;
            border-color: $primary;
        }
    }
    .box{
        margin: 2vh 5vh;
        
    }
}
.file{
    float: left;
    color: $white;
    border: 1px solid $white;
    padding: 0.5vh 1vh;
    font-size: 20px;
    margin: 30px 0px;
    width: fit-content;
    input{
        font-size: 15px;
        border-radius: 10px;
    }
}
input[type="text"], ::placeholder{
    border: none;
    background-color: $grey;
    color: $white;
    outline: none;
    cursor: pointer;
    
}
input{
    margin: 5px;
    font-size: 20px;
}
input[type="submit"]{
    width: 200px;
    margin-left: 80%;
}
.co{
    display: flex;
    padding: 20px;
    max-width: 200vh;
    input{
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-right: 11%;
        min-width: 200px;
    }
    input[type="text"]:nth-child(1) {
        width: 100px;
    }
    textarea{
        width: 400px;
        height: 150px;
        background-color: $grey;
        cursor: pointer;
        border: none;
        outline: none;
        border-bottom: $white 2px solid;
        color: $white;
        font-size: 20px;
    }
}
.cont{
    @include flexbox(column)
}
.fle{
    @include flexbox();
    max-width: 60vh;
    font-size: 20px;
    color: $white;
    .infle{
        @include flexbox(column);
        input{
            font-weight: lighter;
            font-size: 25px;
            width: 48px;
            margin-left: 20px;
            border-bottom: $primary 2px solid;
        }
        span label:nth-child(2){
            color: $gold;
            font-size: 15px;
            position: relative;
            top: 10px;
        }
    }
}
.container{
    overflow-x: auto;
}
.min{
    background-color: $grey;
    padding: 20px;
    a{
        margin: 50px;
        color: $white;
        border: 1px solid $white;
        padding: 0.5vh 3vh;
    }
    a:hover{
        background-color: $white;
        color: $primary;
        border-color: $primary;
    }
    .layout, .layout2, .layout3, .layout4{
        background-color: transparent;
        padding: 5px 50px;
        a{
            margin-right: 20px;
        }
        img{
            width: 80vh;
            height: 100%;
        }
        .tex{
            height: 100%;
            top: -44.5vh;
        }
    }
    .boxevent{
        height: 44vh;
        width: fit-content;
        margin: 5px;
    }
    .layout3{
        padding: 5px 30px;
        grid-template-rows: 52vh auto;
        .boxevent:nth-child(1){
            img{
                width: 162vh;
                height: 50vh;
            }
            .tex{
                padding-top: 25vh;
                top: -50.5vh;
                height: 50vh;
            }
        }
    }
    .layout2, .layout{
        grid-template-rows: auto auto;
        padding: 0 30px;
        .boxevent:nth-child(1),.boxevent:nth-child(2){
            height: 50vh;
            img{
                width: 158vh;
                height: 50vh;
            }
            .tex{
                padding-top: 25vh;
                top: -50.5vh;
                height: 50vh;
            }
        }
    }
}
// index html
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: $primary;
    padding: 1vh 10vh;
    animation-name: top;
    animation-duration: 2s;
    a{
        padding: 1vh 2vh;
        margin: 0 10px;
        color: $white;
        border-radius: 20px;
    }
    a:hover{
        color: $primary;
        background-color: $white;
    }
}
.logo{
    @include flexbox();
    align-items: center;
}
.logo::before{
    content: "";
    background-image: url(assets/img/logo.png);
    background-size: 50px;
    display: block;
    width: 50px;
    height: 50px;
}
// .logo::before{
//     content: "";
//     background-image: url(../img/logo.png);
//     background-size: 50px;
//     display: block;
//     width: 50px;
//     height: 50px;  ---use this when use link:css
// }
.wrap{
    @include flexbox();

    .lef{
        @include flexbox();
        align-items: center;
    }
}
h1{
    font-size: 80px;
    font-weight: bold;
}
h4{
    font-size: 20px;
}
h6{
    font-size: 13px;
    font-weight: lighter;
}

.bigbox{
    padding: 20vh 0;
    background-color: $primary;
    height: 80vh;
    .txt{
        background-color: $white;
        width: fit-content;
        padding: 1vh 2vh;
    }
    h6{
        color: $white;
        margin: 30px 0 0 30px;
        max-height: 8vh;
        overflow: hidden;
    }
    .sidetxt{
        max-width: 600px;
    }
}
#iii{
    position: absolute;
    left: -400px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: $white 2px;
    width: max-content;
    font-size: 100px;
}
#eee{
    -webkit-text-stroke: $white 2px;
    color: transparent;
    position: absolute;
    right: -1000px;
    width: max-content;
    font-size: 100px;
    text-transform: uppercase;
}
.fir{
    position: relative;
    .txt{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        margin-right: 0;
    }
    img.hero{
        width: 115vh;
        position: absolute;
        left: -20vh;
        top: 10vh;
        animation-name: left;
        animation-duration: 2s;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    margin: 5vh 15vh 10vh 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    .sidetxt{
        float: right;
        text-align: right;
        h6{
            color: $white;
            margin: 30px 30px 0 0 ;
        }
    }
}
.sec{
    .txt{
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    img.hero{
        max-width: 115vh;
        position: relative;
        right: -40%;
        top: -18vh;
        z-index: 100;
        animation-name: right;
        animation-duration: 2s;
    }
    margin: 5vh 0 10vh 15vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.sli{
    background-color: $primary;
    .whi{
        background-color: $white;
        margin: 0 auto;
        padding: 10px;
        width: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
.boxevent{
    width: fit-content;
    height: 55vh;
    img{
        width: 88vh;
        height: 52vh;
    }
    .tex{
        background-color: rgba($color: $primary, $alpha: 0.5);
        max-width: 25vh;
        position: relative;
        top: -52.5vh;
        bottom: 0;
        padding: 20.5vh 3vh;
        color: $white;
        overflow: hidden;
        transition: 0.3s;
        height: 100%;
        h6{
            margin-bottom: 10px;
            max-height: 70px;
            overflow: hidden;
        }
        a{
            display: none;
            float: right;
            color: $white;
            border: 1px solid $white;
            padding: 0.5vh 3vh;
        }
    }
}
.boxevent:hover .tex{
    max-width: 100%;
    a{
        display: inline-block;
    }
    a:hover{
        background-color: $white;
        color: $primary;
        border-color: $primary;
    }
}
main{
    padding: 20px;
    background-color: $primary;
}
.layout4{
    display: grid;
    grid-template-areas: 
    "box1 box3"
    "box2 box4";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 50px;
    background-color: $primary;
}
.layout3{
    display: grid;
    grid-template-areas: 
    "box1 box1"
    "box2 box3";
    grid-template-columns: auto auto;
    grid-template-rows: 83vh auto;
    padding: 50px;
    background-color: $primary;
    .boxevent:nth-child(1){
        img{
            width: 178vh;
            height: 80vh;
        }
        .tex{
            padding-top: 25vh;
            top: -81vh;
            height: 81vh;
        }
    }
}
.layout2{
    display: grid;
    grid-template-areas: 
    "box1"
    "box2";
    grid-template-columns: auto;
    grid-template-rows: 83vh 100vh;
    padding: 50px;
    background-color: $primary;
    .boxevent{
        img{
            width: 178vh;
            height: 80vh;
        }
        .tex{
            padding-top: 25vh;
            top: -81vh;
            height: 81vh;
        }
    }
}
.layout{
    padding: 50px;
    background-color: $primary;
    height: 100vh;
    overflow: hidden;
    .boxevent{
        img{
            width: 178vh;
            height: 80vh;
        }
        .tex{
            padding-top: 25vh;
            top: -81vh;
            height: 81vh;
        }
    }
}
main{
    .boxevent:nth-child(1){
        grid-area: box1;
    }
    .boxevent:nth-child(2){
        grid-area: box2;
    }
    .boxevent:nth-child(3){
        grid-area: box3;
    }
    .boxevent:nth-child(4){
        grid-area: box4;
    }
}
.scroll{
    padding: 40px;
    max-width: 100%;
    overflow: auto;
    display: flex;
    background-color: $primary;
}
.box{
    background-color: $black_grey;
    color: $white;
    width: fit-content;
    display: flex;
    border-radius: 10px;
    margin-left: 10vh;
    .lifo{
        padding: 20px;
        width: 25vh;
        height: 30vh;
        h6{
            max-height: 38px;
            overflow: hidden;
        }
        a{
            float: left;
            color: $white;
            border: 1px solid $white;
            padding: 0.5vh 1vh;
            font-size: 12px;
            margin-top: 30px;
        }
        a:hover{
            background-color: $white;
            color: $primary;
        }
    }
    .libo{
        width: 38vh;
        background-color: $grey;
        border-radius: 10px;
        img{
            width: 400px;
            position: relative;
            top: -4vh;
            left: -11vh;
        }
    }
}
.wrf{
    background-color: $primary;
    padding: 20px 50px;
    color: $white;
    a{
        color: $white;
        font-weight: lighter;
    }
    .linet{
        text-align: center;
        margin-bottom: 30px;
    }
    .linet:nth-child(3){
        border-bottom: $white solid 1px;
        padding-bottom: 30px;
    }
    .linet a{
        margin: 0 30px;
        padding: 20px;
    }
    .logo{
        justify-content: flex-start;
    }
}
.dp{
    a{
        float: left;
        color: $gold;
        border: 1px solid $white;
        padding: 1vh 3vh;
        font-size: 11px;
    }
    a:nth-child(2){
        border-radius: 10px;
    }
    .con{
        margin: 150px 30px;
        animation-name: leftprd;
        animation-duration: 2s;
        .txt{
            background-color: $white;
            width: fit-content;
            padding: 1vh 2vh;
            border-radius: 5px;
        }
        .div{
            margin: 20px 70px;
            max-width: 600px;
            color: $white;
            h6{
                border-bottom: $white solid 1px;
                margin-bottom: 20px;
                padding-bottom: 20px;
                max-width: 160vh;
                max-height: 20vh;
                overflow: auto;
            }
            h2{
                font-weight: lighter;
                font-size: 40px;
            }
            .fleri{
                @include flexbox();
                max-width: 440px;
                margin: 100px 0;
            }
            h3{
                font-weight: lighter;
            }
            span{
                color: $gold;
            }
        }
    }
}
.ri img{
    width: 180vh;
    height: 90vh;
    position: absolute;
    top: 5vh;
    right: -48vh;
    animation-name: right;
    animation-duration: 2s;
}
.new{
    height: fit-content;
    padding: 20px;
    a{
        color: $gold;
        border: 1px solid $white;
        padding: 1vh 3vh;
        font-size: 11px;
        margin: 30px 0;
    }
    img{
        width: 100%;
        margin: 30px 0;
    }
    .div{
        color: $white;
        width: 70%;
        max-height: 50vh;
        margin: 0 auto;
        font-size: 20px;
        margin-top: 50px;
        font-weight: lighter;
        overflow: auto;
        h6{
            border-top: $white 1px solid;
            padding: 50px;
        }
        h3{
            width: fit-content;
            margin: 50px auto;
            max-width: 260px;
        }
    }
}